<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input #place class="form-control mr-sm-2" type="search" placeholder="Get City/Country Name" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="service.getTheWheater(place.value)">Search The Wheater</button>
  </form>
</nav>
<div *ngIf="service.placeNotExist else loaded">
  <h1>THIS PLACE IS NOT EXIST PLEASE CHOOSE OTHER PLACE</h1>
</div>
<div *ngIf="service.placeEmpty else loaded">
  <h1>PLEASE ENTER A CITY/COUNTRY</h1>
</div>
<div *ngIf="service.loading else loaded">
  <h1>{{service.place}}</h1>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="service.addTofavorite(place.value)">Add to Favorite</button>
   <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="service.removeFromFavorite(place.value)">Remove from Favorite</button>
<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Date</th>
      <th scope="col">Temperature Max</th>
      <th scope="col">Temperature Min</th>
      <th scope="col">Wheater</th>

    </tr>
  </thead>
 <tbody *ngFor="let wheater of service.wheatherList; let i = index">
      <tr class="table-primary">
      <th scope="row">{{wheater.date}}</th>
      <th scope="row">{{wheater.temp_max}}</th>
      <th scope="row">{{wheater.temp_min}}</th>
      <th scope="row">{{wheater.main}}</th>
      </tr>
  </tbody>
</table>
</div>